.playerScreen {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
}

.radar {
    display: flex;
    width: 600px;
    height: 600px;
    margin: 0;
}

.playerCheckbox {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0;
    height: 600px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    gap: 15px;
}

.singlePlayer {
    display: flex;
    width: 100%;
    margin: 0;
}

.radarGroup {
    display: flex;
    width: 600px;
    height: 600px;
    margin: 0;
}